
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý vị trong thời gian sớm nhất và giao hàng đúng hạng</h2>

<p>
    @Html.ActionLink("Về Trang Chủ", "Index", "LaptopStore")
</p>