@model IEnumerable<BookStore.Models.CHUDE>
<p class="list-group">LAPTOP THEO HÃNG</p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheochude","BookStore", new { id = item.MaCD })" class="list-group-item">
            @item.TenChuDe
        </a>
    }
</div>


@* chủ đề - laptop theo hãng*@



