<style type="text/css">
    #Datmua a {
        clear: both;
        background-color: red;
        color: white;
        width: 120px;
        height: 35px;
        display: block;
        float: right;
        text-align: center;
        padding-top: 10px;
        text-decoration: none;
        font-weight: bold;
    }

        #Datmua a:hover {
            background-color: gray;
            color: red;
        }
</style>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3> THÔNG TIN CHI TIẾT LAPTOP</h3>
<div>
    <div style="width:40%; float:left; border-left: dotted 1px; border-color:azure">
        <img src="~/Hinhsanpham/@Model.Anhbia" width="50%" />
    </div>
    <div style="width: 60%; float: left; padding 10px">
        <h4 style="font-weight: bold; color:red">Tên laptop: @Model.Tensach</h4>
        <p style="text-align:justify"> <span style="font-weight:bold">Mô tả:</span>@Model.Mota</p>
        <p style="font-weight:bold">Giá bán: <span style="color:red;font-size:16px">@Model.Giaban VNĐ</span></p>
    </div>
    <div>
        <div id="Datmua">
            <a href="@Url.Action("Add to Cart", "Shopping Cart", new { id = Model.Masach })" class="list-group-item">
                Đặt Mua
            </a>"

        </div>
    </div>
</div>
