
@model IEnumerable<BookStore.Models.NHAXUATBAN>
    <p class="list-group">NHÀ XUẤT BẢN</p>

    <div class="list-group">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("SPTheoNXB","BookStore", new { id = item.MaNXB })" class="list-group-item">
                @item.TenNXB
            </a>
        }
    </div>
