
@*SẢN PHẨM THEO NHU CẦU - NHÀ XUẤT BẢN *@
@model IEnumerable<BookStore.Models.SACH>
@{
    ViewBag.Title = "SPtheoNXB";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="text-align: center; color:black">LAPTOP THEO NHU CẦU</h3>
<div class="row">
    @if (Model != null)
    {
        foreach (var sach in Model)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <a hef="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
                        <img alt="@sach.Tensach" src="~/Hinhsanpham/@sach.Anhbia" height="200" width="200" />
                    </a>
                    <div>
                        <h4 style="text-align:center">
                            @sach.Tensach
                        </h4>
                        <p></p>
                    </div>
                </div>
                <div class="ratings">
                    <p class="pull-right">0 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>

        }
    }
</div>