
@{
    ViewBag.Title = "Chinhsachdoimoi";
    Layout = "~/Views/Shared/_LayoutUser_Dichvu.cshtml";
}

<h1>I. Quy định chung.</h1>
<p>1. Khách hàng được đổi sản phẩm mới cùng loại nếu sản phẩm gặp sự cố không thể khắc phục được (do lỗi kỹ thuật của nhà sản xuất).
<p>2. Trong trường hợp không còn sản phẩm cùng loại để đổi mới, Công ty sẽ đổi cho Quý khách hàng sản phẩm mới khác có giá trị tương đương hoặc sản phẩm có giá trị thấp hơn không quá 10% giá trị của sản phẩm lỗi.   </p>
<p>3. Sản phẩm chỉ được đổi mới sau khi đã có xác nhận của kỹ thuật và tuân thủ theo các điều kiện tại mục II</p>
<p>4. Chính sách không áp dụng cho đơn hàng bán buôn, hàng dự án, hàng thanh lý. </p>
<p>5. Chính sách không áp dụng cho các sản phẩm nguyên seal của Apple. </p>
<h1>II. Điều kiện áp dụng chính sách :</h1>
<p>- Không quá 07 ngày đối với các sản phẩm chuột máy tính, bàn phím, power, máy nghe nhạc mp3, mp4, hearphone, webcam...</p>
<p>- Không quá 30 ngày đối với các sản phẩm linh kiện máy tính ( CPU, Mainboard, RAM, HDD, VGA ).</p>
<p>- Không quá 30 ngày đối với các sản phẩm máy tính xách tay (không áp dụng với Macbook).<p>4. Chính sách không áp dụng cho đơn hàng bán buôn, hàng dự án, hàng thanh lý. </p>
<p>5. Chính sách không áp dụng cho các sản phẩm nguyên seal của Apple. </p>