
@{
    ViewBag.Title = "Chinhsachbaohanh";
    Layout = "~/Views/Shared/_LayoutUser_Dichvu.cshtml";
}

<h1>I.  Chính sách bảo hành:</h1>
<p>- Bảo hành sản phẩm là khắc phục những lỗi hỏng hóc, sự cố kỹ thuật xảy ra do lỗi của Hãng sản xuất.</p>
<p>
    - Áp dụng cho sản phẩm không đủ điều kiện đổi mới.
</p>
<p>
    - Thời hạn bản hành áp dụng cho từng thiết bị được thể hiện trên tem, trên phiếu bảo hành kèm theo sản phẩm.
</p>
<p>
    - Hàng Khuyến mại và Quà Tặng không được bảo hành.
</p>
<p>
    - Các sản phẩm trong mục Khuyến mại có ghi thời gian bảo hành thì công ty An Khang hỗ trợ bảo hành cho sản phẩm đó.
</p>
<h1>II. Ngoài thời hạn bảo hành.</h1>
<p>- Đối với phần cứng của sản phẩm: Công ty sẽ hỗ trợ, sửa chữa thay thế linh kiện với giá ưu đãi.</p>

<p>- Đối với phần mền ứng dụng: Công ty cam kết hỗ trợ cài đặt các phần mền ứng dụng (không vi phạm luật bản quyền ) cho sản phẩn trọn đời.</p> 