
@{
    ViewBag.Title = "Chinhsachvanchuyen";
    Layout = "~/Views/Shared/_LayoutUser_Dichvu.cshtml";
}

<h1>1. Thời gian xử lý đơn hàng:</h1>
<p>- Các đơn đặt hàng từ 19 giờ hôm trước đến 17 giờ cùng ngày (từ thứ 2 đến thứ 7) sẽ được xử lý và vận chuyển ngay trong ngày</p>
<p> - Đơn đặt hàng từ 17 giờ đến 19 giờ hôm trước (từ thứ 2 đến thứ 6), sẽ được xử lý vào sáng ngày hôm sau. Nếu khách yêu cầu giao hàng ngay và hàng có sẵn trong kho, chúng tôi sẽ xem xét từng trường hợp cụ thể và giao hàng ngay cho khách.</p>
<p>- Đơn đặt hàng từ 19 giờ hôm trước (từ thứ 2 đến thứ 6), sẽ được xử lý vào sáng ngày hôm sau, cho dù quý khách yêu cầu giao hàng trong cùng ngày. </p>
<p>- Đơn đặt hàng từ 17 giờ ngày thứ 7 và đặt hàng vào chủ nhật, sẽ được xử lý vào thứ 2 của tuần kế tiếp.</p>
<p>- Đơn đặt hàng trong các ngày nghỉ lễ sẽ được xử lý vào ngày làm việc đầu tiên sau đó.</p>
<h1>2. Thời gian giao hàng:</h1>
<p>Thời gian quý khách nhận được hàng sẽ theo yêu cầu của khách. Nếu không có bất cứ yêu cầu gì về thời gian, công ty sẽ giao hàng trong thời gian 24h từ khi xác nhận đơn hàng.</p>
