
@model IEnumerable<LaptopStore.Models.HANG>

<div class="list-group">
    @foreach (var item in Model)
    {
    <a href="@Url.Action("SPTheohang","LaptopStore", new { id = item.MaHang })" class="list-group-item" >
        @*@item.Logo*@
        <img src="~/logo/@item.Logo"  height="50%" width="70%" style="align-self:center"/>
    </a>
    }
</div>
