
@model IEnumerable<LaptopStore.Models.NHUCAU>

<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheonhucau","LaptopStore", new { id = item.MaNhucau })" class="list-group-item">
            @item.TenNhucau
        </a>
    }
</div>
